Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["awseb-e-23urwnsmsa-stack-AWSEBLoadBalancerSecurityGroup-1KWVCFXLVYFP", "sg-006b1498c0a91ef58"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0