tr {
  color: #6b717f;
}

.table thead th {
  color: #6b717f;
  font-weight: normal;
  font-size: 1rem;
}

.control.has-icons-left .icon {
  color: #6b717f;
}

.table tbody tr td {
  font-size: 0.75rem;
}

.input {
  color: #6b717f
}

.control.has-icons-left .input {
  color: #6b717f;
  font-size: 0.75rem;
}

.table tbody tr td span {
  font-size: 0.75rem;
}

.github-inner {
  margin-right: 0.2em;
  height: 1em;
  width: 2em;
  opacity: 0.5;
  vertical-align: middle;
  border-style: none;
}

.github-link {
  display: flex;
  text-size-adjust: 100%;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(102, 102, 102);
  font-size: 1em;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.5em 1em;
  margin: 0.2em;
  border-radius: 0.2em;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(203, 203, 203);
  border-image: initial;
  overflow: hidden;
}