@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
@import 'tailwindcss';

@theme {
  --font-sans: 'Nunito', sans-serif;

  --color-brand-50: #f4f4f6;
  --color-brand-100: #dadbdf;
  --color-brand-200: #c2c5cc;
  --color-brand-300: #9095a3;
  --color-brand-400: #6b717f;
  --color-brand-500: #565b67;
  --color-brand-600: #43474f;

  --color-canvas: #eff0eb;
}

body {
  background-color: var(--color-canvas);
  color: var(--color-brand-600);
}
